<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sản Phẩm</title>
        <link rel="stylesheet" href="/css/products.css" />
        <script
            src="https://kit.fontawesome.com/92599c8cb3.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <%- include('../partials/header' ); %>
        <div class="header-news">
            <div>Sản phẩm</div>
        </div>
        <section class="outstanding-order">
            <div class="outstanding-order-central">
                <div class="outstanding-order-central-left">
                    <div class="outstanding-order-central-left-shared">
                        <ul>
                            <li class="central-left-li">
                                <a href="">DANH MỤC</a>
                            </li>
                            <li class="it">
                                <a href="#Noi_bat">Món nổi bật</a>
                            </li>
                            <li class="it"><a href="">Trà Sữa</a></li>
                            <li class="it"><a href="">Fresh Fruit Tea</a></li>
                            <li class="it">
                                <a href="">Macchiato Cream Cheese</a>
                            </li>
                            <li class="it"><a href="">Sữa Chua Dẻo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="outstanding-order-central-right">
                    <div class="outstanding-order-central-right-share">
                        <div
                            class="outstanding-order-central-right-share-child"
                        >
                            <div
                                id="Noi_bat"
                                class="outstanding-order-central-right-title"
                            >
                                Món Nổi Bật
                            </div>

                            <div class="right-shared">
                                <% for (product of products) { %>
                                <div
                                    id="prod-<%=product.id%>"
                                    class="right-shared-ingredient"
                                >
                                    <div class="right-shared-ingredient-img">
                                        <img
                                            src="./images/dau_tam_kem_pho_mai_09a4c4b857694d918a86542225fc2867_grande.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="right-shared-text">
                                        <div class="right-shared-text-name">
                                            <%=product.name%>
                                        </div>
                                        <div class="right-shared-text-boot">
                                            <div
                                                class="right-shared-text-price"
                                            >
                                                <%= product.price%>đ
                                            </div>
                                            <!-- <div class="right-shared-text-size">
                                                <select>
                                                    <option>M</option>
                                                    <option>L</option>
                                                </select>
                                            </div> -->
                                            <div
                                                class="right-shared-text-more"
                                                onclick="addToCart('<%=product.id%>')"
                                            >
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <div class="outstanding-order-central-right-right-share">
                        <div class="right-right-share">
                            <div class="right-right-share-top">
                                <div class="right-right-share-top-text">
                                    Giỏ Hàng Của Tôi
                                </div>
                                <div
                                    class="right-right-share-top-delete"
                                    onclick=""
                                >
                                    Xóa tất cả
                                </div>
                            </div>
                            <div id="demo" class="right-right-share-body">
                                Bạn chưa có sản phẩm nào
                                <!-- <div class="cart-product">
                                    <h3 class="cart-product-name">Tra dao</h3>

                                    <div class="cart-product-row">
                                        <div class="cart-product-size">
                                            <label for="">Size</label>
                                            <select name="size" id="">
                                                <option value="M">M</option>
                                                <option value="M">L</option>
                                            </select>
                                        </div>

                                        <div class="cart-product-price">
                                            <input
                                                type="number"
                                                name="quantity"
                                                class="card-product-quantity"
                                                value="1"
                                            />
                                            x 10000đ
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div
                                id="payment"
                                class="right-right-share-payment-tc"
                            >
                                <div class="right-right-share-payment">
                                    Thanh Toán
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="payment-presently" class="payment">
            <div class="payment-shared">
                <div id="close-btn" class="close-btn">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </div>
                <!-- <form action=""> -->
                <div class="payment-shared-inside">
                    <div class="payment-shared-inside-text">
                        Giao tận hàng tận nơi
                    </div>
                    <div class="payment-shared-inside-molecule">
                        <div class="payment-shared-inside-molecule-img"></div>
                        <div class="payment-shared-inside-molecule-text">
                            <div class="payment-shared-inside-molecule-text1">
                                A
                            </div>
                            <div class="payment-shared-inside-molecule-text2">
                                A
                            </div>
                        </div>
                    </div>
                    <div class="information">
                        <div class="information-subject">
                            Thông Tin Khách Hàng
                        </div>
                        <div class="information-child">
                            <input type="text" placeholder="Tên Người Nhận" />
                        </div>
                        <div class="information-child">
                            <input type="number" placeholder="Số Điện Thoại" />
                        </div>
                        <div class="information-child">
                            <input type="text" placeholder="Địa Chỉ" />
                        </div>
                    </div>
                    <div class="order-toco">
                        <div class="order-toco-cn">ĐẶT HÀNG</div>
                        <div id="hidden" class="order-toco-cn">MUA TIẾP</div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <div class="overlay"></div>
        </section>

        <%- include('../partials/footer'); %>
        <script>
            // Call api mỗi khi thay đổi size
            function handleSize(id) {
                // const select = document.querySelector(
                //     '.card-product-size select'
                // );
                const select = document.getElementById(`cart-${id}`);
                const value = select.value;
                console.log('test');
                fetch(`/order-product/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                    body: JSON.stringify(value),
                })
                    .then((value) => {
                        console.log(value);
                    })
                    .catch((err) => console.log(err));
            }

            // thêm sản phẩm
            function addToCart(id) {
                const cart = document.getElementById('demo');
                if (cart.innerText === 'Bạn chưa có sản phẩm nào') {
                    cart.innerHTML = '';
                }
                const productName = document.querySelector(
                    `#prod-${id} .right-shared-text-name`
                ).innerHTML;

                const productPrice = document.querySelector(
                    `#prod-${id} .right-shared-text-price`
                ).innerHTML;

                const data = {
                    product: id,
                };

                fetch('/order-product', {
                    method: 'POST',
                    headers: {
                        Accept: 'application/json, text/plain, /',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then((data) => data.json())
                    .then((data) => {
                        cart.innerHTML += `
                            <div class="cart-product" id="cart-${data._id}">
                                <h4 class="cart-product-name">${productName}</h4>

                                <div class="cart-product-row">
                                    <div class="cart-product-size">
                                        <label for="">Size</label>
                                        <select name="size">
                                            <option value="M">M</option>
                                            <option value="L">L</option>
                                        </select>
                                    </div>

                                    <div class="cart-product-price">
                                        <input
                                            type="number"
                                            name="quantity"
                                            class="card-product-quantity"
                                            value="1"
                                        />
                                        x ${productPrice}
                                    </div>
                                </div>
                            </div>`;

                        const select = document.querySelector(
                            `#cart-${data._id} select`
                        );
                        select.addEventListener('change', function () {
                            fetch(`/order-product/${data._id}`, {
                                method: 'PUT',
                                headers: {
                                    'Content-type':
                                        'application/json; charset=UTF-8',
                                },
                                body: JSON.stringify({ size: select.value }),
                            })
                                .then((data) => {
                                    console.log(data.json());
                                })
                                .catch((err) => console.log(err));
                        });
                    })
                    .catch((err) => {
                        alert('Không thể thêm!!');
                        console.log(err);
                    });
            }

            // thanh toán
            document.getElementById('payment').onclick = function () {
                document.getElementById('payment-presently').style.display =
                    'block';
            };
            // ẩn
            document.getElementById('hidden').onclick = function () {
                document.getElementById('payment-presently').style.display =
                    'none';
            };
            document.getElementById('close-btn').onclick = function () {
                document.getElementById('payment-presently').style.display =
                    'none';
            };
        </script>
    </body>
</html>
