<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sản Phẩm</title>
        <link rel="stylesheet" href="/css/products.css" />
        <link
            rel="icon"
            href="/images/favicon_io/favicon.ico"
            type="image/x-icon"
        />
        <script
            src="https://kit.fontawesome.com/92599c8cb3.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <%- include('../partials/header' ); %>
        <div class="header-news">
            <div>Sản phẩm</div>
        </div>
        <section class="outstanding-order">
            <div class="outstanding-order-central">
                <div class="outstanding-order-central-left">
                    <div class="outstanding-order-central-left-shared">
                        <ul>
                            <li class="central-left-li">
                                <a href="">DANH MỤC</a>
                            </li>
                            <li class="it">
                                <a href="#Noi_bat">Món nổi bật</a>
                            </li>
                            <li class="it"><a href="">Trà Sữa</a></li>
                            <li class="it"><a href="">Fresh Fruit Tea</a></li>
                            <li class="it">
                                <a href="">Macchiato Cream Cheese</a>
                            </li>
                            <li class="it"><a href="">Sữa Chua Dẻo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="outstanding-order-central-right">
                    <div class="outstanding-order-central-right-share">
                        <div
                            class="outstanding-order-central-right-share-child"
                        >
                            <div
                                id="Noi_bat"
                                class="outstanding-order-central-right-title"
                            >
                                Món Nổi Bật
                            </div>

                            <div class="right-shared">
                                <% for (product of products) { %>
                                <div
                                    id="prod-<%=product.id%>"
                                    class="right-shared-ingredient"
                                >
                                    <div class="right-shared-ingredient-img">
                                        <img
                                            src="./images/dau_tam_kem_pho_mai_09a4c4b857694d918a86542225fc2867_grande.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="right-shared-text">
                                        <div class="right-shared-text-name">
                                            <%=product.name%>
                                        </div>
                                        <div class="right-shared-text-boot">
                                            <div
                                                class="right-shared-text-price"
                                            >
                                                <%= product.price%>đ
                                            </div>
                                            <!-- <div class="right-shared-text-size">
                                                <select>
                                                    <option>M</option>
                                                    <option>L</option>
                                                </select>
                                            </div> -->
                                            <div
                                                class="right-shared-text-more"
                                                onclick="addToCart('<%=product.id%>')"
                                            >
                                                <i class="fa-solid fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <!-- Cart -->
                    <div class="outstanding-order-central-right-right-share">
                        <div class="right-right-share">
                            <div class="right-right-share-top">
                                <div class="right-right-share-top-text">
                                    Giỏ Hàng Của Tôi
                                </div>
                                <div
                                    class="right-right-share-top-delete"
                                    onclick=""
                                >
                                    Xóa tất cả
                                </div>
                            </div>
                            <div id="demo" class="right-right-share-body">
                                <!-- <div class="cart-product">
                                    <h3 class="cart-product-name">Tra dao</h3>

                                    <div class="cart-product-row">
                                        <div class="cart-product-size">
                                            <label for="">Size</label>
                                            <select name="size" id="">
                                                <option value="M">M</option>
                                                <option value="M">L</option>
                                            </select>
                                        </div>

                                        <div class="cart-product-price">
                                            <input
                                                type="number"
                                                name="quantity"
                                                class="card-product-quantity"
                                                value="1"
                                            />
                                            x 10000đ
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div
                                id="payment"
                                class="right-right-share-payment-tc"
                            >
                                <div class="right-right-share-payment">
                                    Thanh Toán
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="payment-presently" class="payment">
            <div class="payment-shared">
                <div id="close-btn" class="close-btn">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </div>
                <!-- <form action=""> -->
                <div class="payment-shared-inside">
                    <div class="payment-shared-inside-text">
                        Giao tận hàng tận nơi
                    </div>
                    <div class="payment-shared-inside-molecule">
                        <div class="payment-shared-inside-molecule-img"></div>
                        <div class="payment-shared-inside-molecule-text">
                            <div class="payment-shared-inside-molecule-text1">
                                A
                            </div>
                            <div class="payment-shared-inside-molecule-text2">
                                A
                            </div>
                        </div>
                    </div>
                    <div class="information">
                        <div class="information-subject">
                            Thông Tin Khách Hàng
                        </div>

                        <div class="information-child">
                            <input
                                type="text"
                                name="phone_number"
                                placeholder="Số Điện Thoại"
                            />
                        </div>
                        <div class="information-child">
                            <input
                                type="text"
                                name="customer_address"
                                placeholder="Địa Chỉ"
                            />
                        </div>
                    </div>
                    <div class="order-toco">
                        <div onclick="handleOrder()" class="order-toco-cn">
                            ĐẶT HÀNG
                        </div>
                        <div id="hidden" class="order-toco-cn">MUA TIẾP</div>
                    </div>
                </div>
                <!-- </form> -->
            </div>
            <div class="overlay"></div>
        </section>

        <%- include('../partials/footer'); %>
        <!-- <script src="/js/handleOrder.js"></script> -->
        <script>
            // thanh toán
            document.getElementById('payment').onclick = function () {
                if (products.length === 0)
                    return alert('Hãy thêm sản phẩm vào đơn hàng');
                document.getElementById('payment-presently').style.display =
                    'block';
            };
            // ẩn
            document.getElementById('hidden').onclick = function () {
                document.getElementById('payment-presently').style.display =
                    'none';
            };
            document.getElementById('close-btn').onclick = function () {
                document.getElementById('payment-presently').style.display =
                    'none';
            };

            const $ = document.querySelector.bind(document);
            const $$ = document.querySelectorAll.bind(document);

            const products = [];
            const cart = document.getElementById('demo');

            function render() {
                if (products.length === 0) {
                    cart.innerHTML = 'Bạn chưa thêm sản phẩm nào';
                } else {
                    let content = products.map((item) => {
                        return `
            <div class="cart-product" id="cart-${item.id}">
            <h4 class="cart-product-name">${item.name}</h4>
            <div class="cart-product-row">
                <div class="cart-product-size">
                    <label for="">Size</label>
                    <select name="size">
                        <option value="M">M</option>
                        <option value="L">L</option>
                    </select>
                </div>
                <div class="cart-product-price">
                    <input
                        type="number"
                        name="quantity"
                        class="card-product-quantity"
                        value="1"
                    />
                    x ${item.price}
                </div>
            </div>
        </div>`;
                    });
                    cart.innerHTML = content.join('');
                }
            }

            render();

            function addToCart(id) {
                const name = $(`#prod-${id} .right-shared-text-name`).innerHTML;
                const price = $(
                    `#prod-${id} .right-shared-text-price`
                ).innerHTML;
                const data = {
                    id,
                    name,
                    price,
                };
                products.push(data);
                render();
            }

            const customer_address = $('input[name="customer_address"]');
            const phone_number = $('input[name="phone_number"]');
            const orderProducts = [];

            function handleOrder() {
                const cartProducts = $$('.cart-product');
                const cartProductsArray = Array.from(cartProducts);
                const products = [];
                cartProductsArray.forEach((product) => {
                    // console.dir(product.childNodes[3].childNodes[1].children[1].value);
                    // console.dir(product.childNodes[3].childNodes[3].children[0].value);
                    // console.dir(product.id);

                    const id = product.id.split('-')[1];
                    const size =
                        product.childNodes[3].childNodes[1].children[1].value;
                    const quantity =
                        product.childNodes[3].childNodes[3].children[0].value;

                    const productData = {
                        product: id,
                        size,
                        quantity,
                    };

                    products.push(productData);
                });
                console.log(products);
                const data = {
                    phone_number: phone_number.value,
                    customer_address: customer_address.value,
                    products,
                };
                fetch('/orders/<%=userId%>', {
                    method: 'POST',
                    headers: {
                        Accept: 'application/json, text/plain, /',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then((data) => {
                        if (data.msg) {
                            alert(data.msg);
                            return;
                        }
                        alert('Tạo đơn hàng thành công');
                        document.getElementById(
                            'payment-presently'
                        ).style.display = 'none';
                        cart.innerHTML = 'Bạn chưa có sản phẩm nào';
                    })
                    .catch((err) => alert('Không thể tạo đơn hàng'));
            }
        </script>
    </body>
</html>
